Überprüfung von RFC9083 (rdapConformance "rdap_level_0")

Anmerkungen und Defekte/Abweichungen in RDAP-Implementierung gem. RFC9083 (rdapConformance rdap_level_0):

#4 Bitte https://datatracker.ietf.org/doc/html/rfc9083 als Quellcodekommentar neben rdap_level_0 machen, sodass man immer nachlesen kann

#5 "ldhName" ist nur für Nameserver class da (RFC Abschnitt 5.2). Bitte entfernen.

#6 Wir sollten eventuell "handle = oid:2.999" sowie "parentHandle = oid:2" definieren.

#7 (verletzt RFC Abschnitt 2.1) Felder, die von uns definiert werden (nicht im RFC 9083) stehen, sollen einen Präfix bekommen z.B. "oidplus_" oder "frdl_".

#8 Empfehlung: Ein Feld "oidip" machen, in dem die komplette (!) OID-IP $format=json antwort reinkommt.

#9 (verletzt RFC Abschnitt 4.1) Die conformance levels "oidplus_level_2" und "frdlweb_level_2" müssten formell bei IANA RDAP Extensions registry specified in [RFC7480] registriert sein

#10 (verletzt RFC Abschnitt 4.3) Bei "notices" und "remarks" muss "type" ein Wert aus dem Kapitel "10.2.1.  Notice and Remark Types)" sein, also bei IANA registriert sein. Im Moment steht bei uns "remark" drin.

#11 (empfehlung RFC Abschnitt 4.6.)  Status implementieren, Werte wie bei Section 10.2.2 

#12 (empfehlung RFC Abschnitt 4.7.)  Port 43 WHOIS Server implementeiren "port43" => "whois.viathinksoft.de" (falls das System bei VGWhoIs registriert ist)

#13 (RFC Abschnitt 4.9) objectClassName ist von uns korrekt mit dem Wert "oid" bestückt worden. Nun müssen wir diesen Objekt-Typ definieren und bestimmen, welche Felder wir drin haben wollen (ra, asn1id, iri, usw.). Dies sollten wir dokumentieren z.B. so wie im RFC Abschnitt 5.1, 5.2, 5.3, 5.4 oder 5.5.

#14 (RFC Abschnitt 6) fehlermeldungen so:

```
   {
     "rdapConformance" :
     [
       "rdap_level_0"
     ],
     "notices" :
     [
       {
         "title" : "Beverage Policy",
         "description" :
         [
           "Beverages with caffeine for keeping horses awake."
         ],
         "links" :
         [
           {
             "value" : "https://example.net/ip/192.0.2.0/24",
             "rel" : "alternate",
             "type" : "text/html",
             "href" : "https://www.example.com/redaction_policy.html"
           }
         ]
       }
     ],
     "lang" : "en",
     "errorCode": 418,
     "title": "Your beverage choice is not available",
     "description":
     [
       "I know coffee has more ummppphhh.",
       "Sorry, dude!"
     ]
   }
```

#15 (RFC Abschnitt 7) es muss "/help" implementiert werden

```
   {
     "rdapConformance" :
     [
       "rdap_level_0"
     ],
     "notices" :
     [
       {
         "title" : "Authentication Policy",
         "description" :
         [
           "Access to sensitive data for users with proper credentials."
         ],
         "links" :
         [
           {
             "value" : "https://example.net/help",
             "rel" : "alternate",
             "type" : "text/html",
             "href" : "https://www.example.com/auth_policy.html"
           }
         ]
       }
     ]
   }
```

#16 (RFC Abschnitt 8) "Responding To Searches" ggf. implementieren

#17 (RFC Abschnitt 9) "Indicating Truncated Responses" ggf. implementieren ("hidden" OIDs in OIDplus)

#18 (RFC Abschnitt 3) Bitte prüfen ob umgesetzt:

```
   dates and times:  The syntax for values denoting dates and times is
                     defined in [RFC3339].
```

#19 (RFC Abschnitt 3) Bitte prüfen ob umgesetzt: (RA?)

```
   Contact information is defined using jCards as described in
   [RFC7095].  The "fn" member is required and MUST NOT be null
   according to [RFC6350].  An empty "fn" member MAY be used when the
   contact name does not exist or is redacted.
```


Anmerkungen und Defekte/Abweichungen in RDAP-Implementierung gem. RFC9083 (rdapConformance rdap_level_0):

* ~Bitte https://datatracker.ietf.org/doc/html/rfc9083 als Quellcodekommentar neben rdap_level_0 machen, sodass man immer nachlesen kann~

* ~"ldhName" ist nur für Nameserver class da (RFC Abschnitt 5.2). Bitte entfernen.~

* Wir sollten eventuell "handle = oid:2.999" sowie "parentHandle = oid:2" definieren.

* (verletzt RFC Abschnitt 2.1) Felder, die von uns definiert werden (nicht im RFC 9083) stehen, sollen einen Präfix bekommen z.B. "oidplus_" oder "frdl_".

* Empfehlung: Ein Feld "oidip" machen, in dem die komplette (!) OID-IP $format=json antwort reinkommt.

* ~(verletzt RFC Abschnitt 4.1) Die conformance levels "oidplus_level_2" und "frdlweb_level_2" müssten formell bei IANA RDAP Extensions registry specified in [RFC7480] registriert sein ~ auskommentiert~

* (verletzt RFC Abschnitt 4.3) Bei "notices" und "remarks" muss "type" ein Wert aus dem Kapitel "10.2.1.  Notice and Remark Types)" sein, also bei IANA registriert sein. Im Moment steht bei uns "remark" drin. [ ] **That is it, the challenge?**

* (empfehlung RFC Abschnitt 4.6.)  Status implementieren, Werte wie bei Section 10.2.2 

* (empfehlung RFC Abschnitt 4.7.)  Port 43 WHOIS Server implementeiren "port43" => "whois.viathinksoft.de" (falls das System bei VGWhoIs registriert ist) -  **Veto: RDAP is about to replace WHOIS** ?

....

Bzgl. port43.  Ja, RDAP sollte WHOIS ersetzen. Aber das Feld "port43" ist im RFC trotzdem definiert worden. Und wenn wir den Wert kennen, dann sollten wir ihn auch eintragen.

Bitte füge fülle daher das Feld "port43" mit dem Wert, der hier implementiert ist:
https://github.com/danielmarschall/oidplus/blob/master/plugins/viathinksoft/publicPages/100_whois/OIDplusPagePublicWhois.class.php#L77

Vielen Dank.


Edit:  Aber vorher den Port wegsplitten, und den Wert nur zeigen, wenn es wirklich Port 43 ist:

```
$whois_server = '';
if (OIDplus::config()->getValue('individual_whois_server', '') != '') {
	$whois_server = OIDplus::config()->getValue('individual_whois_server', '');
}
else if (OIDplus::config()->getValue('vts_whois', '') != '') {
	// This config setting is set by the "Registration" plugin
	$whois_server = OIDplus::config()->getValue('vts_whois', '');
}
list($whois_host, $whois_port) = explode(':',"$whois_server:43",2);
if ($whois_port == 43) echo "port43 : $whois_host"
```



Meinst Du so?
https://github.com/frdl/oidplus-frdlweb-rdap/commit/c99f668b7e0e2ab08a55549d0adc30a14e61265b


Hallo Till,
nein, nicht ganz. Falls der Benutzer einen Whois Server auf einem ganz anderen Port hat, ist das mit "port43" nicht abgedeckt. In diesem Fall bringt es leider nix und das Feld muss weg bleiben. Standardgemäß alles auf whois.viathinksoft.de zu machen wird vom Benutzer möglicherweise nicht als gut empfunden, wenn wir nicht garantieren können, dass das gewünschte Ergebnis kommt.
(Anm: vts_whois wird durch uns gesetzt auf whois.viathinksoft.de , sofern PrivacyFlag entsprechend gesetzt ist)

Hab es korrigiert hier im GitHub berichtigt.
Aber nicht getestet

Hallo Daniel,
"Aber nicht getestet"
registry.frdl.de/plugins/frdl/publicPages/1276945_rdap/rdap/rdap.php?query=oid%3A1.3.6.1.4.1

Ich gehe heute Nacht nochmal die Liste durch, ich denke zu einigen Punkten muss ich nochmal nachlesen oder nachfragen...

Hallo Daniel,
ich habe die Aufgaben-Check-Liste im [Startforum](https://startforum.de/s/oidplus/tasks/task/view?id=10) aktualisiert und [rdap.php](https://github.com/frdl/oidplus-frdlweb-rdap/blob/main/plugins/frdl/publicPages/1276945_rdap/rdap/rdap.php).
Registrierungsdatum/Events und RA/jcards ist bisher noch nicht imlementiert.

Bei den Remark Typen ist kein Typ der "available" treffen würde, macht Sinn bei confidential.

"Empfehlung: Ein Feld "oidip" machen, in dem die komplette (!) OID-IP $format=json antwort reinkommt."
Müsste es wenn selbst definiert nicht oidplus_oidpip heissen?
Die Idee ist aber gut, wird hinzugefügt, sowie Status und Help, ...

...

Viele Grüße
Till

Hallo Till,
ich habe alle 16 Punkte in eigene Tickets aufgesplittet. (Hätte ich von Anfang an tun sollen)
Bitte ordne den Status bzw. die Antworten (aus GitHub und Startforum) den jeweiligen Einzel-Tickets zu und schließe dann dieses Sammel-Ticket.
Danke.

Alle Kommentare in diesem Issue sind in den einzelnen Issues untergekommen bzw. sind abgearbeitet.
Dieses Issue kann daher geschlossen werden.

Die Daten in Startforum hab ich aber nicht geprüft.