RFC9083 (rdapConformance "rdap_level_0"), annotation No. 16

( GitHub issue #1 of 21 Jul 2022 split into single issues )

Anmerkungen und Defekte/Abweichungen in RDAP-Implementierung gem. RFC9083 (rdapConformance rdap_level_0):

* (RFC Abschnitt 3) Bitte prüfen ob umgesetzt: (RA?)

```
   Contact information is defined using jCards as described in
   [RFC7095].  The "fn" member is required and MUST NOT be null
   according to [RFC6350].  An empty "fn" member MAY be used when the
   contact name does not exist or is redacted.
```


Nein, jCards und RA ist derzeit nicht umgesetzt (für später aufgehoben), da die RA Informationen auch in oidplus_oidip enthalten sind.